.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-data {
  width: 90%;
  margin: auto;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 8px !important;
}
.container-form{
  width:80%;
}
@media (max-width: 600px) {
  .container-form{
  width:90%;
  margin:auto;
  }
}